/* Homepage */

.homepage-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
.homepage-container-left {
    width: 20%;
    margin: 20px;
    border: 1px solid #d9e4e9;
    border-radius: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

.homepage-full-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60em;
}

.homepage-welcome-banner {
    text-align: start;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.homepage-container-right,
.homepage-welcome-banner {
    border: 1px solid #d9e4e9;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 60%;
    text-align: start;
}

.homepage-post-img {
    width: 100%;

}

/* Profile Page */ 

.profile-page {
    width: 100%;
}

.profile-page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-and-contact {
    display: flex;
    flex-direction: row;
}

.profile-detail-card-container,
.profile-contact-card-container,
.profile-about-card-container {
    border: 1px solid #d9e4e9;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    max-width: 35em;
    text-align: start;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-contact-card-container {
    width: 100%;
}

.profile-contact-card-content {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-avatar {
    max-width: 180px;
}

h2 {
    color: #BFA181;
}

.function-btn {
    background-color: #101e27;
    border: 1px solid rgba(191, 161, 129, 0.25);
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
    width: 120px;
    height: 50px;
    color: #BFA181;
    font-weight: bold;
    will-change: filter;
    transition: filter 300ms;

    position: sticky;
    float: inherit;
    flex-direction: row;
    left: 80%;
    top: 85%;
}