.nav-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    gap: 10px;
}

.logo {
    max-height: 50px;
    background-color: black;
    border: 1px solid ivory;
    border-radius: 20px;
}

.nav-btn {
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
    width: 120px;
    height: 50px;
    color: limegreen;
}