.profile-buttons {
    width: 150px;
}

/* ---- */

.profile-page-main {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    width: 100vw;
}

.profile-detail-card-container,
.profile-contact-card-container,
.profile-about-card-container {
    border: 1px solid ivory;
    border-radius: 20px;
    padding: 10%;
    margin: 5%;
    max-width: 300px;
    text-align: start;
}

.profile-contact-card-content {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-avatar {
    max-width: 180px;
}

h2 {
    color: #BFA181;
}

/* ---- */

.bootcamp {
    border: 1px solid gray;
    margin: 1em;
    padding: 1em;
}

.modules-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.single-module {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bootcamps-module-logo {
    width: 3rem;
    height: auto;
}

.spesificBootcamp {
    display: flex;
    flex-direction: row;
}



.bootcamp-modules-list {
    border: 0.4em inset gray;
    margin-top: 8%;
    padding: 1%;
    
}

.bootcamp-single-module {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10%;

}

.bootcamp-module-logo {
    width: 3rem;
    height: auto;
}

.description-and-teacher {
    margin: 2%;
}

.bootcamp-buttons {
    display: flex;
    position: absolute;
    top: 80%;
    left: 50%;
    gap: 5%;
    width: 1em;
    height: 4em;
}

.spesificModule {
    display: flex;
}

.module-modules-list {
    border: 0.4em inset gray;
    width: 10em;
    list-style-type: none;
}

.module-modules-list ul{
    padding: 0;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;

}

.module-description {
    padding: 5%;
}

.module-avatar {
    width: 4rem;
    height: auto;
}

.module-buttons {
    display: flex;
    position: absolute;
    top: 80%;
    left: 60%;
    gap: 5%;
    width: 1em;
    height: 4em;
}

.edit-bootcamp-popup {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 50%, 0.3);/* background color of popup outside */
    display: flex;
    justify-content: center;
    color: white;
}

.bootcamp-popup-inner {
    border: 2px grey solid;
    background-color: #242424; /* background color of popup itself */
    display: contents;
    overflow-y:auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 70%;
    max-width: 50%;
    height: 65%;
}

.edit-bootcamp-form {
    display: flex;
    flex-direction: column;
}

.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

/* popup */

.edit-profile-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 85vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-popup-inner {
    position: relative;
    padding: 30px;
    width: 80%;
    height: 80%;
    max-width: 500px;
    background-color: navy;
}

.edit-profile-popup-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.existing-modules {
    border: 1px solid gray;
}

.existing-modules li{
    list-style-type: none;
}

.add-bootcamp-button {
    width: 70px;
    height: 70px;
    padding: 13px 18px;
    border-radius: 60px;
    max-width: 100px;

    position: sticky;
    float: inherit;
    bottom: 3%;
    left: 3%;

    text-decoration: none;
    color: #0A1828;
    font-weight: bolder;
    font-size: 80px;
    background-color: #e1ad01;
    border: 4px solid #12b19d;

    display: flex;
    justify-content: center;
    align-items: center;
}

.module-logo-tester {
    padding: 10px;
    border: 1px solid rgba(191,161,129,0.25);
    border-radius: 25px;
    /*box-shadow: 0px 5px 10px 0px rgba(191,161,129,0.7); */
}

.module-logo-tester:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(191,161,129,0.7);
}