.profile-page-head {
    display: flex;
    justify-content: space-between;
}

.nav-home {
    display: flex;
    align-items: flex-start;
}

h2 {
    display: flex;
    justify-content: center;
}

.profile-details-container {
    border: 1px solid ivory;
    border-radius: 20px;
    padding: 10px;
    width: 45%;
    text-align: start;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-contacts-container {
    border: 1px solid ivory;
    border-radius: 20px;
    padding: 10px;
    width: 45%;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}