.profile-page-head {
    display: flex;
    justify-content: space-between;
}

.nav-home {
    display: flex;
    align-items: flex-start;
}

h2 {
    display: flex;
    justify-content: center;
}

.profile-details-container {
    border: 1px solid ivory;
    border-radius: 20px;
    padding: 10px;
    width: 45%;
    text-align: start;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-contacts-container {
    border: 1px solid ivory;
    border-radius: 20px;
    padding: 10px;
    width: 45%;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bootcamp {
    border: 1px solid gray;
    margin: 1em;
    padding: 1em;
}

.modules-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.single-module {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bootcamps-module-logo {
    width: 3rem;
    height: auto;
}

.spesificBootcamp {
    display: flex;
    flex-direction: row;
}



.bootcamp-modules-list {
    border: 0.4em inset gray;
    margin-top: 8%;
    padding: 1%;
    
}

.bootcamp-single-module {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10%;

}

.bootcamp-module-logo {
    width: 3rem;
    height: auto;
}

.description-and-teacher {
    margin: 2%;
}

.bootcamp-buttons {
    display: flex;
    position: absolute;
    top: 80%;
    left: 75%;
    gap: 5%;
    width: 1em;
    height: 4em;
}