.homepage-hamburger-menu {
    margin: 20px;
    display: flex;
    justify-content: flex-start;
}

.homepage-sidebar-left {
    width: 50%;
    margin: 20px;
    border: 1px solid ivory;
    border-radius: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcome-banner {
    text-align: start;
}

.homepage-news-block {
    border: 1px solid ivory;
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    text-align: start;
}

.homepage-content-right {
    display: flex;
    flex-direction: column;
}

.homepage-full {
    display: flex;
    flex-direction: row;
}